
.searchbar{
    width: 99%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 40px;
}
/* Define the cursor element */
.cursor {
    width: 2px; /* Adjust the width of the cursor */
    height: 20px; /* Adjust the height of the cursor */
    background: rgb(128, 128, 128);
    animation: blink 0.8s step-end infinite; /* Define the animation */
    opacity: .8;
}

/* Define the blinking animation */
@keyframes blink {
    from, to {
        opacity: .5; /* Hide the cursor at the beginning and end of the animation */
        background-color: white;
    }
    50% {
        opacity: .8; /* Show the cursor at the midpoint of the animation */
        background-color: rgb(128, 128, 128);
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.7;
    color: #FFFFFF;
    overflow-x: hidden;
    letter-spacing: 0.2px;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    scroll-behavior: smooth;
    background-color: #1f2029;
    background: url("./assets/imgs/endless-constellation.svg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
}
