.searchbar{
    width: 99%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 40px;
}
/* Define the cursor element */
.cursor {
    width: 2px; /* Adjust the width of the cursor */
    height: 20px; /* Adjust the height of the cursor */
    background: gray;
    animation: blink 0.8s step-end infinite; /* Define the animation */
    opacity: .8;
}

/* Define the blinking animation */
@keyframes blink {
    from, to {
        opacity: .5; /* Hide the cursor at the beginning and end of the animation */
        background-color: white;
    }
    50% {
        opacity: .8; /* Show the cursor at the midpoint of the animation */
        background-color: gray;
    }
}
